@import "~bootstrap/scss/bootstrap";

$purpleDark: darken($purple, 20);
$offWhite: darken($white, 3);

////////////////////////////////////////Mixins////////////////////////////////////////////

@mixin rotate($degree) {
  -webkit-transform: rotate($degree);
  -moz-transform: rotate($degree);
  -o-transform: rotate($degree);
  -ms-transform: rotate($degree);
  transform: rotate($degree);
}

////////////////////////////////////////Keyframe Animations///////////////////////////////

@keyframes fadeIn {
  0%, 57% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}

@keyframes spinIn {
  0%, 25% {
    @include rotate(0deg)
    max-width: 80%;
    top: 50%;
  }

  100% {
    @include rotate(360deg);
    max-width: 20%;
  }
}

////////////////////////////////////////Base Stylings/////////////////////////////////////

.half-img,
.full-img { padding: 0; }

.btn {
  color: $white;
  background: $orange;
  border-color: $orange;
  &:focus { box-shadow: none; }
}

.overlay {
  position: relative;
  width: 100%;
  height: 100%;
}

.img-content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.blurb { 
  align-self: center;
  h1 { color: $purpleDark; }
}

.blurb-box-left {
  float: right;
  max-width: 70%;
  padding-right: 75px;
}

.blurb-box-right {
  float: right;
  max-width: 30%;
  padding-right: 0;
}

////////////////////////////////////////Modules///////////////////////////////////////////

.title {
  .logo-content {
    max-width: 90%;
    left: 10%;
    top: 5%;
  }

  .welcome-content {
    max-width: 100%;
    top: 40%;
    color: $white;
    text-align: center;
    animation-duration: 7s;
    animation-name: fadeIn;
  }

  .logo {
    max-width: 20%;
    animation-name: spinIn;
    animation-duration: 4s;
  }

  .btn {
    background: $purple;
    border-color: $purple;
  }
}

.about {
  a { color: $purpleDark; }
}

.learn-more {
  h1 {
    color: $purpleDark;
  }

  .img-content {
    max-width: 85%;
    top: 40%;
    left: 15%;
  }
}

.features {
  a { color: $purpleDark; }

  .img-content {
    max-width: 85%;
    top: 40%;
    left: 15%;
  }

  .icons {
    background: $offWhite;
  }
}

.etc {
  
}

.reviews {

}
